{% extends "../index3.html" %}
{% block body %}
{#    <img src="/static/assets/images/logo-inverse.png" width="600" height="550"/>#}
     <img src="/static/artlogo.jpg" width="1100" height= 500px/>
{#<h2 align="center"><u>HOMEPAGE</U></h2>#}
{#<p><a href="/myapp/adm_approve_troupe_manager_request/">Approve troupe manager request</a> </p>#}
{#<p><a href="/myapp/adm_view_approved_troupemanager/">View approved troupe managers</a> </p>#}
{#<p><a href="/myapp/adm_add_notification/">Add notification</a> </p>#}
{#<p><a href="/myapp/adm_view_notification/">View notification</a> </p>#}
{#<p><a href="/myapp/adm_view_troupe_booking/">View troupe booking</a> </p>#}
{#<p><a href="/myapp/adm_view_complaint/">View complaints</a> </p>#}
{#<p><a href="/myapp/adm_view_feedback/">View feedback</a> </p>#}

{% endblock %}