{% extends "index3.html" %}
{% block body %}

<form action="/myapp/adm_view_feedback_search/" style="background-color:#f5f9ff" method="post">
    <table class="table table-bordered">
     <h3 align="center"><strong>FEEDBACK</strong></h3></p>
        <tr>
            <th>Troupe</th>
            <td><select name="tid">
                {% for i in troup %}
                <option value="{{ i.id }}">{{ i.troupe_name }}</option>
                {% endfor %}
            </select><input type="submit" value="view" class="btn-primary"></td>
            <td></td>
        </tr>
  <tr>
    <th >SlNo</th>
    <th >Customer Name</th>
    <th >Feedback</th>
    <th >Date</th>
  </tr>
{% for i in fed %}
  <tr>
    <td >{{ forloop.counter }}&nbsp;</td>
    <td>&nbsp;{{ i.CUSTOMER.cust_name}}</td>
    <td>&nbsp;{{ i.feedback }}</td>
    <td>&nbsp;{{ i.date }}</td>
  </tr>
{% endfor %}
</table>
</form>
{% endblock %}