{% extends "index3.html" %}
{% block body %}
    <h1 align="center"><u>VIEW COMPLIANT</U></h1>
<form id="form1" name="form1" method="post" style="background-color:#f5f9ff"action="/myapp/adm_view_complaint_search/">
  <table class="table table-bordered">
    <tr>
      <th>From Date</th>
      <td><input type="date" name="d1" id="textfield" /></td>
      <th>To Date</th>
      <td><input type="date" name="d2" id="textfield2" /></td>
      <td><input type="submit" name="button" id="button" value="Go" /></td>
    </tr>
  </table>
  <table  class="table table-bordered">
    <tr>
      <th>SlNo</th>
      <th>Customer Name</th>
      <th>Complaint</th>
        <th>Troup Info</th>
      <th> Date</th>
      <th>Reply</th>

    </tr>
       {% for i in data %}
    <tr>

        <td>{{ forloop.counter }}&nbsp;</td>
        <td>{{ i.CUSTOMER.cust_name }}</td>
       <td>{{ i.complaint }}</td>
    <td><img src="{{ i.TROUPE.troupe_logo }}" height="100px" width="100px"><br>{{ i.TROUPE.troupe_name }}</td>
       <td>{{ i.date }}</td>
     <td>
         {%  if i.reply == 'pending' %}
            <a href="/myapp/adm_sent_reply/{{ i.id }}" class="btn btn-primary">Send reply</a></td>
        {% else %}
            {{ i.reply }}
        {% endif %}

    </tr>
       {% endfor %}
  </table>
</form>
{% endblock %}